#footer {
    background-color: #291C0E;
    color: #E1D4C2;
    padding: 50px;
    bottom: 0;
    position:absolute;
    margin-top: 100px;
  
}
.logoImage {
    border-radius: 8px;
}
.listStyling {
    list-style-type: none;
}
