#footer {
    background-color: #291C0E;
    color: #E1D4C2;
    padding-top: 50px;
    bottom: 0;
    
    
    width: 100%;
    left: 0;
    margin-top: 200px;
  
}
.logoImage {
    border-radius: 8px;
}
.listStyling {
    list-style-type: none;
}
