#MathPlayBtn {
    margin-top: 5px;
    margin-bottom: 15px;
    border: none;
    border-radius: 6px;
    padding: 0;
    color: #e1d4c2;
    background-color: #6e473b;
    font-weight: 700;
    transform: translate(150px, -70px);
    
}

#MathPlayBtnTop {
    display: block;
    box-sizing: border-box;
    border: 2px solid #6e473b;
    border-radius: 6px;
    padding: 0.5em 1.5em;
    background-color: #beb5a9;
    color: #6e473b ;
    transform: translateY(-0.2em);
    transition: transform 0.1s ease;
}

#MathPlayBtn:hover #MathPlayBtnTop {
    transform: translateY(-0.33em);
}

#MathPlayBtn:hover #MathPlayBtnTop {
    transform: translateY(-0.1em);
    background-color: #ada69b;
}

#MathGamePage{
    height: 100vh;
    width: 100%;

}